/** style.css DBO20220816 **/
:root {
    --creme: #FCF8E8;
    --green: #799482;
    --orange: #ECB390;
    --red: #d4725c;
}

/* Corps de page */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,402;0,700;1,300;1,400;1,700&display=swap');

body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0px;
    background-color: var(--creme);
    color: var(--red);
    font-family: 'Raleway', sans-serif;
}

h1{
    color: #799482;
    text-align: center;
}

section{
    background-color: #799482;
    background-image: url("./img/antiquite.jpg");
    color: #FCF8E8;
    padding: 5px 20px;
    box-shadow: 5px 8px 8px 5px #555555;
    border-radius: 10px;
}

section:nth-of-type(2n+1){
    margin: 10px 10% 30px 0;    
}
section:nth-of-type(2n){
    margin: 10px 0px 30px 10%;    
}


/* Dialog d'écoute */

dialog::backdrop {
    background-color: rgba(109, 31, 0, 0.664);
}

/* Effet popup */
.has-popup {
    border: #FCF8E8 solid 2px;
    border-radius: .5em;
    display: inline-block;
    animation: rotate 5s ease-out;
    animation-iteration-count: infinite;
}

main .has-popup:nth-of-type(4n) {
    animation-delay: 1.6s;
}

main .has-popup:nth-of-type(4n+1) {
    animation-delay: 4.46s;
}

main .has-popup:nth-of-type(4n+2) {
    animation-delay: 3.12s;
}

main .has-popup:nth-of-type(4n+3) {
    animation-delay: 3.58s;
}


@keyframes rotate {

    0%,
    40% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    60%,
    100% {
        transform: scale(1);
    }
}

.has-popup:hover {
    cursor: pointer;
}

.popup {
    position: absolute;
    padding: 10px;
    background-color: #FCF8E8;
    border: none;
    box-shadow: 5px 5px 5px 2px #d4725c62;
    border-radius: 10px;
    max-width: 256px;
}


h3 {
    font-size: medium;
}

.closing-cross {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #fcf8e8cc;
    color: black;
    position: absolute;
    right: 13px;
    top: 13px;
    z-index: 100;
    font-weight: bolder;
    text-align: center;
}

.closing-cross:hover {
    cursor: pointer;
}

.popup img {
    width: 256px;
    z-index: 50;
    display: block;
    border-radius: 10px;
    ;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
    background-color: var(--creme);
    border: none;

}

audio {
    border: none;
    max-width: 256px;
}

/* Header */
#logo {
    max-width: 150px;
}

header {
    display: grid;
    grid-template-columns: 2fr 5fr 1fr;
    background-color: var(--orange);
}

header ul {
    text-align: center;
    padding: 0px;
}

header ul * {
    box-sizing: border-box;
    transition: all 0.35s ease;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

header nav a {
    padding: 0.3em 0;
    color: var(--red);
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0;
    text-decoration: none;
}

header nav a:before,
header nav a:after {
    position: absolute;
    transition: all 0.35s ease;
}

header nav a:before {
    bottom: 100%;
    display: block;
    height: 3px;
    width: 100%;
    content: "";
    background-color: var(--red);
}

header nav a:after {
    padding: 0.3em 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    content: attr(data-hover);
    color: var(--red);
    white-space: nowrap;
}

header nav ul li:hover a,
header .current a {
    transform: translateY(100%);
}

header nav li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.5em;
    overflow: hidden;
}

/* Footer */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--orange);
}

footer :first-child {
    width: 80%;
    margin-left: 10%;
    justify-self: start;
}

footer :last-child {
    width: 80%;
    margin-right: 10%;
    text-align: right;
    justify-self: end;
}