/** style.css DBO20220816 **/
:root {
    --creme: #FCF8E8;
    --green: #799482;
    --orange: #ECB390;
    --red: #d4725c;
}

/* Corps de page */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,402;0,700;1,300;1,400;1,700&display=swap');

body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0px;
    background-color: #EAC978;
    color: #232F6C;
    font-family: 'Raleway', sans-serif;
}

h1 {
    color: #232F6C;
    text-align: center;
}

section {
    background-color: #5c67A0;
    color: #FFFCCF;
    padding: 5px 20px;
    box-shadow: 5px 8px 8px 5px #555555;
    border-radius: 10px;
    /* min-height: 150px; */
}

section:nth-of-type(2n+1) {
    margin: 10px 10% 30px 0;
}

section:nth-of-type(2n) {
    margin: 10px 0px 30px 10%;
}

/* accueil */
#blocs {
    display: grid;
}

@media all and (min-width: 1000px) {
    #logo-intro {
        position: absolute;
        translate: -50% -50%;
        width: fit-content;
        left: 50%;
        top: 50%;
        width: 256px;
    }

    .background {
        opacity: 0;
    }

    .bloc {
        width: 256px;
    }

    #blocs {
        display: grid;
        column-gap: 256px;
        justify-items: start;
        align-items: start;
        height: 100%;
        grid-template: 1fr 1fr / 1fr 1fr;
    }

    .bloc:nth-of-type(1),
    .bloc:nth-of-type(3) {
        justify-self: end;
    }

    .bloc:nth-of-type(3):hover a {
        color: #232F6C;
    }

    .bloc:nth-of-type(4):hover a {
        color: #232F6C;
    }
}

@media all and (max-width: 1000px) {
    #logo-intro {
        display: none;
    }

    #blocs {
        display: grid;
        justify-items: center;
        height: 100%;
        grid-template: 1fr 1fr 1fr 1fr / 1fr;
        row-gap: 40px;
        margin-bottom: 30px;
    }

    .background {
        opacity: 50%;
    }

    main {
        height: fit-content;
    }

    .bloc {
        width: 80%;
        max-width: 480px;
    }

    .bloc:nth-of-type(1) a {
        color: #FCF8E8;
    }


    .bloc:nth-of-type(3) a {
        color: #232F6C;
    }

    .bloc:nth-of-type(4) a {
        color: #232F6C;
    }

    .bloc:nth-of-type(2) a {
        color: #d44829;
    }
}

.bloc {
    height: 150px;
    background-color: #5c67A0;
    display: flex;
    box-shadow: 5px 8px 8px 5px #555555;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    font-weight: normal;
    font-size: large;
    position: relative;
    overflow: hidden;
}

.background {
    width: 100%;
    min-height: 150px;
    position: absolute;
    /* opacity: 50%; */
    z-index: 50;
    border-radius: 10px;
    object-fit: cover;
}

.bloc a {
    text-decoration: none;
    color: #FFFCCF;
    z-index: 100;
}

.bloc:hover {
    cursor: pointer;
}

.bloc:hover .background {
    opacity: 100%;
    transition: opacity .2s ease-in-out;
}



/* Dialog d'écoute */

dialog::backdrop {
    background-color: rgba(109, 31, 0, 0.664);
}

/* Effet popup d'écoute */
.has-popup {
    border: #FCF8E8 solid 2px;
    border-radius: .5em;
    display: inline-block;
    animation: scale 5s ease-out;
    animation-iteration-count: infinite;
}

main .has-popup:nth-of-type(4n) {
    animation-delay: 1.6s;
}

main .has-popup:nth-of-type(4n+1) {
    animation-delay: 4.46s;
}

main .has-popup:nth-of-type(4n+2) {
    animation-delay: 3.12s;
}

main .has-popup:nth-of-type(4n+3) {
    animation-delay: 3.58s;
}


@keyframes scale {

    0%,
    40% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    60%,
    100% {
        transform: scale(1);
    }
}

.has-popup:hover {
    cursor: pointer;
}

.popup {
    position: absolute;
    padding: 10px;
    background-color: #FCF8E8;
    border: none;
    box-shadow: 5px 5px 5px 2px #d4725c62;
    border-radius: 10px;
    max-width: 256px;
}


h3 {
    font-size: medium;
}

.closing-cross {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #fcf8e8cc;
    color: black;
    position: absolute;
    right: 13px;
    top: 13px;
    z-index: 100;
    font-weight: bolder;
    text-align: center;
}

.closing-cross:hover {
    cursor: pointer;
}

.popup img {
    width: 256px;
    z-index: 50;
    display: block;
    border-radius: 10px;
    ;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
    background-color: var(--creme);
    border: none;

}

audio {
    border: none;
    max-width: 256px;
}


/* Popup des portraits */
.portrait {
    position: relative;
}

.portrait:hover {
    cursor: pointer;
}

.portrait:hover .portrait-popup {
    display: inline-block;
    visibility: visible;
    width: 256px;
    height: 256px;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear, width .2s linear, height .2s linear;
}

.portrait-popup {
    position: absolute;
    bottom: -5em;
    visibility: hidden;
    width: 0px;
    height: 0px;
    opacity: 0;
    border-radius: 50%;
    box-shadow: 5px 5px 5px 5px #555555;
}

.portrait:hover .portrait-popup img {
    width: 256px;
    height: auto;
    transition: width .2s linear;
}

.portrait-popup img {
    width: 0px;
    height: auto;
    border-radius: 50%;
}

/* Header */
#logo {
    max-height: 70px;
    padding: 10px;
    margin-left: 100px;
}

header {
    background-color: #EAC978;
    border-bottom: #5c67A0 3px solid;
}

@media all and (min-width: 1000px) {
    #menu-access {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 2fr 5fr 1fr;
    }

    header nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    header ul {
        text-align: center;
        padding: 0px;
    }

    header ul * {
        box-sizing: border-box;
        transition: all 0.35s ease;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    header nav a {
        padding: 0.3em 0;
        color: #232F6C;
        position: relative;
        display: inline-block;
        letter-spacing: 1px;
        margin: 0;
        text-decoration: none;
        font-size: larger;
    }

    header nav a:before,
    header nav a:after {
        position: absolute;
        transition: all 0.35s ease;
    }

    header nav a:before {
        bottom: 100%;
        display: block;
        height: 3px;
        width: 100%;
        content: "";
        background-color: #5c67A0;
    }

    header nav a:after {
        padding: 0.3em 0;
        position: absolute;
        bottom: 100%;
        left: 0;
        content: attr(data-hover);
        color: #232F6C;
        white-space: nowrap;
    }

    header nav ul li:hover a,
    header .current a {
        transform: translateY(100%);
    }

    header nav li {
        display: inline-block;
        list-style: outside none none;
        margin: 0 1.5em;
        overflow: hidden;
    }
}

#menu-toggle {
    display: none;
}

@media all and (max-width: 1000px) {
    header {
        position: relative;
    }

    nav ul {
        padding: 0;
    }

    header nav {
        display: none;
    }

    header nav a:before,
    header nav a:after {
        visibility: hidden;
    }

    #menu-access {
        display: inline-block;
        width: 70px;
        position: absolute;
        top: 10px;
        right: 100px;
    }

    #menu-access:hover {
        cursor: pointer;
    }

    #menu-toggle:checked+nav {
        display: flex;
        justify-content: end;
        border-top: #5c67A0 3px solid;
    }

    #menu-toggle:checked+nav a {
        display: block;
        width: 100%;
        text-decoration: none;
        color: #232F6C;
        letter-spacing: 1px;
        font-size: larger;
        padding: 10px 10px 10px 50px;
    }

    #menu-toggle:checked+nav li:hover a {
        color: #EAC978;
    }

    .current {
        background-color: #5c67A0;
        color: #EAC978;
    }


    #menu-toggle:checked+nav li {
        list-style: none;
        /* padding: 10px 10px 10px 50px; */
        width: 100%;
    }

    #menu-toggle:checked+nav ul {
        width: 100%;
        margin: 0px;
        ;
    }

    nav ul li:hover {
        background-color: #5c67A0;
        cursor: pointer;
    }

    li:hover+a {
        background-color: red;
    }
}

/* Footer */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: #5c67A0 3px solid;
    background-color: #EAC978;
}

footer :first-child {
    width: 80%;
    margin-left: 10%;
    justify-self: start;
}

footer :last-child {
    width: 80%;
    margin-right: 10%;
    text-align: right;
    justify-self: end;
}

footer a {
    text-decoration: none;
    color: #232F6C;
}

/* page links */

.link {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: auto;
    align-items: center;
}

.link h2{
    display: none;
}

.link a img {
    max-height: 100px;
    margin-right: 20px;
    ;
    max-width: 200px;
}

/* lecteur audio */
.player{
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-items: center;
}

.player audio{
    display: block;
    max-width: 90%;
    width: 100%;
}

.player button, select{
    height: 2.5em;
    padding: 0 15px; ;
    background-color: #EAC978;
    border-radius: 10px;
    justify-self: left;
    color: #232F6C;
    border: none;
    font-size: medium;
}